# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd
/docs/assets/audio
generate_audio.py

# Operating system files
.DS_Store
Thumbs.db

# Virtual environments (if you use them locally)
venv/
.venv/
env/